@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');


.logo{
        background: url(../Images/logo.jpg);
        width: 100%;
        position: absolute;
            }

.nav{
    width: 100%;
    padding: 10px;    
    background-color: black;
    position: relative;
}

.navlink{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 36px;
    display: inline;
}

/*-------------------------------------------------------------------------Links */

#home,
#aboutus,
#tourdates,
#gallery,
#contactus {
    height: 25%;
    width: 100%;
    position: relative;
    display: block;
    }

#aboutus{
    color: blue;
}

#tourdates{
    color: green;
}

#gallery{
    color: red;
}

#contactus{
    color: yellow;
}
